# ORIGINAL REQ
# # tensorflow==2.15.0 made
# tensorflow==2.20.0 # deployment streamlit
# pandas
# numpy
# scikit-learn
# tensorboard
# matplotlib
# streamlit
# protobuf<=3.20.3

# deployment on streamlit
streamlit==1.31.0
tensorflow==2.15.0
protobuf<=3.20.3
numpy
pandas
scikit-learn
matplotlib
tensorboard
